.message {
  font-size: theme('fontSize.sm');
  margin-bottom: theme('spacing.4');
  padding: theme('spacing.2');
}

.message.sender {
  background-color: theme('colors.green.300');
  color: theme('colors.black');
}

.message.receiver {
  background-color: theme('colors.blue.300');
  color: theme('colors.black');
}

.sender {
  margin-left: auto;
}

.sender h3 {
  text-align: right;
}
